NUXT_USER_API_BASE_URL=http://host/api/v1
NUXT_ORDER_API_BASE_URL=http://host/api/v1
NUXT_PRODUCT_API_BASE_URL=http://host/api/v1
NUXT_PAYMENT_API_BASE_URL=http://host/api/v1
NUXT_NOTIFICATION_API_BASE_URL=http://host/api/v1