.output
.data
.nuxt
.nitro
.cache
dist
build

node_modules
bun.lockb

logs
*.log
*.out
*.err

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode
.idea
.fleet
*.swp
*.swo

coverage
.nyc_output

tmp
temp
*.tmp

.dockerignore
docker-compose.override.yml

.eslintcache
.stylelintcache